body{
    background-color: darkslategrey;
}

/* Container for the form */
.blog-form-container {
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f9f9f9; */
    background-color: black;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.left{
    margin-left: 20px;
}
h2 , h5{
    padding-bottom: 20%;
    
}




/* Responsive Grid */
@media (min-width: 640px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .blog-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}